.main {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /*text-align: center; */
  /* background-color: #959794; */

  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat();

  background: radial-gradient(
    circle at 90%,
    #697184,
    #19171a 80%,
    #fff 83%,
    #333 83%
  );
  /* min-width: 320px; */
  min-height: 100vh;
}
